@model Movie

    <p>If you would like to register a movie, please click on the below link for Movie Registration</p>
@Html.ActionLink("Registration", "RegistrationForm", "Home", null, null)
           







